<aside id="floating-control">
    <a title="Start a Discussion" id="emailme" href="mailto:charle_@live.ca?subject=Regarding {{title}}"><i  icon-name="mail" title="Discuss" aria-hidden="true"></i></a>
    <!-- AddToAny BEGIN -->
    <a class="a2a_dd" href="https://www.addtoany.com/share"><i  icon-name="share" title="Share" aria-hidden="true"></i></a>
    <script>
    var a2a_config = a2a_config || {};
    a2a_config.onclick = 1;
    a2a_config.num_services = 6;
    </script>
    <script defer src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
    <!-- AddToAny BEGIN -->
    <div class="a2a_kit a2a_follow a2a_default_style" data-a2a-url="https://night-owl-charle-andre-terraults-projects.vercel.app/feed.xml" data-a2a-title="Minerva's Night Owl">
    <a class="a2a_dd" href="https://www.addtoany.com/subscribe"><i  icon-name="rss" title="Suscribe" aria-hidden="true"></i></a>
    </div>
    <script>
    var a2a_config = a2a_config || {};
    a2a_config.onclick = 1;
    a2a_config.num_services = 6;
    </script>
    <script defer src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
</aside>

