body {

  // Floating buttons
  #floating-control {
    position: fixed;
    color: var(--link-color);
    bottom: 1vmax;
    right: 1vmax;
    font-size: 24px;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;

    .svg-icon,
    i {
      cursor: pointer;
      height: 24px;
      width: auto;
    }
  }
// Headers size
  /* Heading 1 */
p h1 {
	border-bottom-style: solid !important;
	border-width: 1px !important;
	border-color: grey !important;
	font-size: 24px !important;
	margin-top: 8px;
}
p .HyperMD-header-1 {
	border-bottom-style: solid !important;
	border-width: 1px !important;
	border-color: grey !important;
	font-size: 26px !important;
	margin-top: 8px;
}

/* Heading 2 */
h2 {
	font-size: 20px !important;
	margin-top: 8px;
}
.HyperMD-header-2 {
	font-size: 20px !important;
	margin-top: 8px;
}

/* Heading 3 */
h3 {
	font-size: 16px !important;
	margin-top: 8px;
}
.HyperMD-header-3 {
	font-size: 16px !important;
	margin-top: 8px;
}

/* Heading 4 */
h4 {
	font-size: 14px !important;
	font-style: normal !important;
	margin-top: 8px;
}
.HyperMD-header-4 {
	font-size: 14px !important;
	font-style: normal !important;
	margin-top: 8px;
}

/* Heading 5 */
h5 {
	font-size: 14px !important;
	font-style: italic !important;
	margin-top: 8px;
}
.HyperMD-header-5 {
	font-size: 14px !important;
	font-style: italic !important;
	margin-top: 8px;
}

/* Heading 6 */
h6 {
	font-size: 12px !important;
	font-weight: bold !important;
	margin-top: 8px;
}
.HyperMD-header-6 {
	font-size: 12px !important;
	font-weight: bold !important;
	margin-top: 8px;
}
}

// Distance between timestamp and text
.timestamps {
  margin-top: 10px;
  margin-bottom: 10px;
}


// Navbar move with page
.navbar {
    position: relative;
	background-color: rgba(0, 0, 0, 0);
    flex-wrap: wrap;
    margin-bottom: 0px;
}




