//@import url(https://fonts.bunny.net/css?family=rubik:300,400,500,600,700,800,900);
@import url(https://fonts.bunny.net/css?family=averia-serif-libre:300,300i,400,400i,700,700i|inter:100,200,300,400,500,600,700,800,900);

body {
  // Floating buttons
  #floating-control {
    position: fixed;
    color: var(--link-color);
    bottom: 1vmax;
    right: 1vmax;
    font-size: 24px;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;

    .svg-icon,
    i {
      cursor: pointer;
      height: 24px;
      width: auto;
    }
  }
// Headers size
  /* Heading 1 */
h1 {
	border-bottom-style: none !important;
	border-width: 1px !important;
	border-color: grey !important;
	font-size: 24px !important;
	margin-top: 15px !important;
	font-family: "Averia Serif Libre", serif !important;
}

/* Heading 2 */
h2 {
	font-size: 20px !important;
	margin-top: 12px !important;
	font-family: "Averia Serif Libre", serif !important;
}
.HyperMD-header-2 {
	font-size: 20px !important;
	margin-top: 12px !important;
	font-family: "Averia Serif Libre", serif !important;
}

/* Heading 3 */
h3 {
	font-size: 16px !important;
	margin-top: 12px !important;
	font-family: "Averia Serif Libre", serif !important;
}
.HyperMD-header-3 {
	font-size: 16px !important;
	margin-top: 12px !important;
	font-family: "Averia Serif Libre", serif !important;
}

/* Heading 4 */
h4 {
	font-size: 14px !important;
	font-style: normal !important;
	margin-top: 12px !important;
	font-family: "Averia Serif Libre", serif !important;
}
.HyperMD-header-4 {
	font-size: 14px !important;
	font-style: normal !important;
	margin-top: 12px !important;
	font-family: "Averia Serif Libre", serif !important;
}

/* Heading 5 */
h5 {
	font-size: 14px !important;
	font-style: italic !important;
	margin-top: 12px !important;
	font-family: "Averia Serif Libre", serif !important;
}
.HyperMD-header-5 {
	font-size: 14px !important;
	font-style: italic !important;
	margin-top: 12px !important;
	font-family: "Averia Serif Libre", serif !important;
}

/* Heading 6 */
h6 {
	font-size: 12px !important;
	font-weight: bold !important;
	margin-top: 12px !important;
	font-family: "Averia Serif Libre", serif !important;
}
.HyperMD-header-6 {
	font-size: 12px !important;
	font-weight: bold !important;
	margin-top: 12px !important;
	font-family: "Averia Serif Libre", serif !important;
}
}

// Distance between timestamp and text
.timestamps {
  margin-top: 10px !important;
  margin-bottom: 15px !important;
}


// Navbar move with page
.navbar {
    position: relative;
	background-color: rgba(0, 0, 0, 0);
    flex-wrap: wrap;
    margin-bottom: 0px !important;
}
.navbar h1 {
	border-bottom-style: none !important;
	font-size: 35px !important;
	margin-top: 8px !important;
	font-family: "Averia Serif Libre", serif;
}
.content {
	margin-top: 40px;
}
.navbar h1::before {
    content: " ";
}
  /* Header */
header h1 {
	border-bottom-style: none !important;
	font-size: 30px !important;
	margin-top: 8px !important;
	font-family: "Averia Serif Libre", serif;
}

// list
li {
	padding-top:0px !important;
	padding-bottom: 0px !important;
}
ul {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}



